@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Zen+Antique&display=swap');


/* font-family: 'Playfair Display SC', serif;
font-family: 'Zen Antique', serif; */

* {
    box-sizing: border-box;
    margin: 0;
    color: #333333;
    font-family: 'Zen Antique', serif;
}

body {
    background-color: rgb(216, 216, 216);
    width: 90vw;
    margin: 0 auto;
}

.main-container {
    
}

h1 {
    font-size: 5em;
    font-family: 'Playfair Display SC', serif;
}

h2 {
    font-family: 'Playfair Display SC', serif;
}

p {
    font-size: 0.5rem;
    
}

.text-cat {
    font-family: monospace;
    font-size: 1em;
    text-transform: uppercase;
}

.text-justify {
    text-align: justify;
}

.text-strong {
    font-weight: bold;
}

p .text-highlight {
    color: rgb(201, 63, 63);
}

.news-section {
    border-bottom: 1px solid black;
}

.main-header {
    border-top: 1px solid black;
    margin-top: 10px;
    padding: 20px;
    font-size: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-style: italic;
}



.main-header-item {
    border-right: 1px solid black;
    height: 170px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* text-align: center; */
}

.none-border {
    border: none;
}

.header-time {
    width: 15vw;
}

.header-logo {
    flex-grow: auto;
    text-align: center;
}

.header-details {
    width: 15vw;
    
}

.flex-container {
    display: flex;
}

.header-time .time-price {
    font-size: 1.5em;
    font-style: normal;
}

.header-details .details-info {
    text-align: justify;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}

.header-details .details-serial {
    font-style: normal;
    font-family: monospace;
    text-align: center;
    font-size: 1.7rem;
    color:rgb(201, 63, 63);
}

.logo-heading {
    font-size: 5rem;
    font-style: normal;
}

.section-trend {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    justify-items: center;
}

.trend-item {
    /* border: 1px solid black; */
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

.trend-item .trend-item-cat {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 2px;
    
}

.trend-item .trend-item-heading {
    text-align: center;
    padding: 0.5em 0;
}

.section-spotlight {
    margin-top: 1em;
    background-image: url("../images/news/spotlight_img.jpg");
    background-size: cover;
    min-height: 65vw;
}

.section-spotlight .spotlight-container {
    flex-direction: column;
    max-width: 60%;
    padding: 1em;
    
}

.spotlight-container .spotlight-item-cat {
    /* margin-bottom: 1em; */
}

.spotlight-container .spotlight-item-header {
    text-transform: capitalize;
    font-size: 2em;
    margin: 0.5em 0;
}

.spotlight-container .spotlight-item-author {
    font-size: 0.5em;
    font-style: italic;
    margin-bottom: 2em;
}

.spotlight-container p {
    font-style: italic;
    max-width: 45%;
}


